/* General Body Styling */
body {
  background: #eb5e28;
  color: #FFFCF2;
  min-width: auto;
  width: auto;
  height: auto; 
  margin: 0px;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-left: 10px;
  height: 100px;
  width: auto;
  background-color: #eb5e28;
  color: #252422;
  border-radius: 10px;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}
/* Main Content Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content{
  background-color: #252422;
  height: auto;
}
/* Title Section */
.title {
  font-family: "Orbitron", serif;
  font-weight: 1px;
  color: #FFFCF2;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  font-size: x-large;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title span{
  color: #eb5e28;
}

/* Input Bar and Button */
.bar {
  font-family: "Orbitron", serif;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFCF2;
  height: 6rem;
  width: 20rem;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 0px 3px #eb5e28;
  border-radius: 10px;

}

.bar button {
  font-family: "Orbitron", serif;
  font-weight: 500;
  color: #eb5e28;
  font-size: medium;
  border: 0px;
  width: 5rem;
  height: 3rem;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer; 
  transition: 0.5s;
  box-shadow: 0px 0px 0px 3px #eb5e28;
  background-color: #FFFCF2;
  border-radius: 10px;

}

.bar button:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 0px 3px #eb5e28;
  color: #FFFCF2;
  background-color: #eb5e28;
}

/* Text Selection Styles */
::selection {
  background: #eb5e28;
}

/* Password Input Box */
.boxbar {
  font-size: x-large;
  font-weight: 500;
  background-color: #FFFCF2;
  width: 10rem;
  color: #eb5e28;
  border: 0px;
  font-family: "Orbitron", serif;
  font-size: medium;
  outline: 0px;
}

/* Slider Component */
.slider {
  font-weight: 500;
  font-family: "Orbitron", serif;
  background-color: #FFFCF2;
  color: #252422;
  border: 0;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: 6rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 22px;
  box-shadow: 0px 0px 0px 3px #eb5e28;
  transition: 0.5s;
  border-radius: 10px;

}

.slider label {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #252422;
}

.slider span {
  color: #eb5e28;
  font-weight: 500px;
  transition: 0.5s;
  min-width: 2.5rem; /* Ensure number area remains consistent */
  text-align: center;
}

input[type="range"] {
  margin-top: 0.5rem;
  appearance: none;
  -webkit-appearance: none;
  color: #eb5e28;
  justify-content: center;
  background: #252422;
  cursor: pointer;
  border-radius: 10px;
}

.slider:hover {
  transition: 0.5s;
  box-shadow: 0 0 #eb5e28;
  color: #FFFCF2;
  background-color: #eb5e28;
  box-shadow: 0px 0px 0px 3px #FFFCF2;
}

.slider:hover span {
  transition: 0.5s;
  color: #FFFCF2; /* Change to your desired hover color */
}

input[type="range"] {
  color: #eb5e28;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 15rem;
  height: 0.5rem; 
  background: #252422;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px; 
  height: 22px;
  border-radius: 50%;
  background: #FFFCF2;
  border: #252422;
  box-shadow: 0px 0px 0px 3px #252422;
}

/* Options Section */
.options {
  font-weight: 500;
  font-family: "Orbitron", serif;
  background-color: #FFFCF2;
  color: #252422;
  border: 0;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: 22rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  box-shadow: 0px 0px 0px 3px #eb5e28;
  transition: 0.5s;
  border-radius: 10px;

}

.options label.characters {
  font-weight: 800px;
  font-size: x-large;
  color: #eb5e28;
  transition: 0.5s;
}

.options:hover label.characters {
  color: #FFFCF2;
  transition: 0.5s;
}

.options:hover {
  transition: 0.5s;
  box-shadow: 0 0 #eb5e28;
  color: #FFFCF2;
  background-color: #eb5e28;
  box-shadow: 0px 0px 0px 3px #FFFCF2;
}

/* Checkbox Customization */
input[type="checkbox"] {
  appearance: none; /* Remove the default checkbox styling */
  display: inline-block;
  border-radius: 10px;

  width: 30px;
  height: 30px;
  margin-top: 1rem;
  border: 2px solid #eb5e28; /* Add a custom border */
  background: #FFFCF2; /* Default background color */
  cursor: pointer;
  position: relative;
  outline: none;
  transition: all 0.3s ease;
}

input[type="checkbox"]:hover {
  box-shadow: 0 0 5px #eb5e28; /* Add hover effect */
}

input[type="checkbox"]:checked {
  background: #eb5e28; /* Change background on check */
  border: 2px solid #FFFCF2; /* Change border color */
}

input[type="checkbox"]:checked::after {
  content: ''; /* Add a custom checkmark or circle */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background: #FFFCF2; /* Custom inner color */
  border-radius: 50%; /* Make it a circle */
  transform: translate(-50%, -50%); /* Center the circle */
  box-shadow: 0 0 3px #252422; /* Optional shadow */
}

/* Shake Animation */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.options.shake {
  animation: shake 0.5s ease-in-out;
}

/* Generate Button */
.generate button {
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 6rem;
  width: 20rem;
  background-color: #eb5e28;
  text-align: center;
  color: #252422;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Orbitron", serif;
  outline: 0px;
  border: 0px;
  font-size: x-large;
  transition: 0.5s;
  box-shadow: 0px 0px 0px 3px #eb5e28;
  background-color: #FFFCF2;
}

.generate button:hover {
  box-shadow: 0 0 #eb5e28;
  transition: 0.5s;
  color: #FFFCF2;
  background-color: #eb5e28;
  box-shadow: 0px 0px 0px 3px #FFFCF2;
}
/* 3 Pictures */
.containerof3 {
  background-color: #403d39;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 40px;
}

.titleof3{
  padding-top: 0px;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: x-large;
  color: #ccc5b9;
}

.undercontainer {
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 justify-items: center;
}

.imgpic{
display: flex;
flex-direction: column;
width: 90px;
margin-bottom: 5px;
}

.tile1{
  font-size: x-large;
  color: #ccc5b9;
  font-weight: 500;
  margin-bottom: 10px;
}

.pic1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pic2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.pic3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.textpic1{
font-size: medium;
font-weight: 50px;
color: #ccc5b9;
width: 90%;
}

/* Footer Styles */
footer {
  margin-top: 0px;
  padding: 10px;
  width: auto;
  height: 100px;
  max-width: auto;
  background-color: #eb5e28;
  color: #252422;
  font-family: 'Orbitron', sans-serif;
  border-radius: 0;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFCF2;
  font-size: 15px;
}

.logo-footer img {
  height: 40px;
  margin-right: 10px;
}

.text-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a.link-text {
  transition: 0.5s;
  color: #FFFCF2;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;

}

footer a.link-text:hover {
  color: #252422;
  transition: 0.5s;
}

footer p {
  text-align: center;
  width: auto;
  color: #FFFCF2;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  border:1px solid #FFFCF2;
  border-radius: 0px;
  width: 99%;
}
